apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: react-app
  template:
    metadata:
      labels:
        app: react-app
    spec:
      containers:
        - name: react-app
          image: vinay dubey/gitops01:9a85847747288ab6c31bac8a6e223c2895be6e79
          imagePullPolicy: Always
          ports:
            - containerPort: 80
